/*message_header*/
.message_display_header{
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	font-size: 1rem;
	background: #1CB88B;
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}
.message_display_header span{
	position: absolute;
	right: 1rem;
	top: 0.5rem;
	font-size: 1rem;
}
/*message_lyb*/
.message_display_lyzs{
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	font-size: 0.75rem;
	border-bottom: 0.1rem solid #ccc;
	font-weight: bold;
	margin-top: 2rem;
	/*background: #fff;*/
}
.message_display_lyzs span{
	color: #008f3d;
	margin: 0 0.5rem 0 0.3rem;
	vertical-align: middle;
}
/*message_display_main*/
.message_display_main{
	width: 100%;
	padding: 0.5rem;
	overflow: hidden;
	margin-bottom: 2rem;
}
.message_display_main li{
	width: 100%;
	overflow: hidden;
	border-bottom: 1px solid #337AB7;
	margin-bottom: 1rem;
	font-size: 0.6rem;
	background-color: rgba(255,250,205,0.8);
	padding: 0.5rem;
}
.message_display_main li div:nth-child(3){
	text-align: right;
}
.message_display_main li div:nth-child(3) span{
	font-size: 0.6rem;
	vertical-align: middle;
}
.message_display_main li div:nth-child(3) span:nth-child(2){
	margin-left: 0.5rem;
}
.message_display_main li div:nth-child(3) span i{
	font-style: normal;
}
.message_display_main li>p{
	text-indent: 1.25rem;
	margin-top: 0.5rem;
}
/*footer*/
footer{
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	position: fixed;
	bottom: 0;
	left: 0;
	text-align: center;
	color: #FFFFff;
	font-size: 0.7rem;
	background: #1CB88B;
	z-index: 999;
}
.zang{
	color: #007AFF;
}


/*导航*/

.cover {
	width: 16rem;
	/*overflow: hidden;*/
	position: relative;
	left: 0;
}

.ccc {
	width: 100%;
	overflow: hidden;
}

.cover_right {
	width: 4rem;
	height: 25rem;
	background: #000000;
	position: absolute;
	right: -4rem;
	top: 0;
}

.cover_right>ul>li {
	width: 4rem;
	height: 4rem;
	color: #fff;
	text-align: center;
	line-height: 6rem;
	position: relative;
	left: 4rem;
}

.cover_rightClass {
	background: #41474e;
}

.cover_right>ul>li>span {
	display: block;
	width: 1.5rem;
	height: 1.5rem;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	transition-duration: 0.1s;
}

.noJob {
	overflow: hidden;
}

