body{
	height: 100vh;
	background: url(../images/register_img/2.jpg) no-repeat;
	background-size: 100% 100%;
}
	h1{
		text-align: center;
		padding-top: 4rem;
		letter-spacing: 0.4rem;
		padding-bottom: 2rem;
		color: #fff;
	}
	.register_logo{
		width: 5rem;
		height: 5rem;
		margin:0 auto;
		border-radius: 50%;
		background-image: url(../images/register_img/1.png);
		background-size: 100% 100%;
	}
	.register_deng{
		width: 80%;
		height: auto;
		/*background: red;*/
		margin-top: 4rem;
		margin:0 auto;
	}
	.register_deng .p1{
		text-align: center;
		padding-top: 1rem;
		font-size: 0.5rem;
		color: #fff;
	}
	.register_deng .p1 input{
		width: 85%;
		height: 1rem;
		text-indent: 0.3rem;
		color: #ccc;
		outline: none;
		border: none;
		border: 1px solid #75A8E4;
		padding: 0.2rem 0rem 0.2rem 0rem;
		background: none;
		font-size: 0.6rem;
	}
	::-webkit-input-placeholder{
		color: #ccc;
	}
	button{
		text-align: center;
		width: 85%;
		height: 2rem;
		margin-bottom: 1rem;
		font-size: 0.6rem;
		background: none;
		border: none;
		outline: none;
		color: #fff;
		border: 1px solid #75A8E4;
	}
	.register_zhuce{
		height: 1rem;
		width: 100%;
		/*background: yellow;*/
	}
	.register_zhuce span{
		font-size: 0.3rem;
		display: block;
		float: left;
		text-decoration: underline;
		color: #fff;
	}
	.register_zhuce .span1{
		margin-left: 7.7rem;
		margin-right:0.4rem;
	}